* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
}

body {
  min-height: 100vh;
  background: radial-gradient(#384a44, #1a1f1d);
  font-family: 'Quicksand', sans-serif;
  color: #e1eeeb;
  padding: 1.5rem;
}

header {
  text-align: center;
  margin: auto;
}

header img {
  width: 8rem;
  margin-bottom: 1rem;
}